<!-- ====== Contact Section ====== -->
<footer id="contact">
  <div class="footer section-padding">
    <div class="container">
      {% if page.lang == 'de' %}
      <h1>Kontaktieren Sie Uns</h1>
      <h1>Per E-Mail: <a herf="mailto:francoisbotes@hotmail.com?subject=Website Enquiry">francoisbotes@hotmail.com</a> Oder über das Kontaktformular</h1>
      <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
      {{ content }}
      <form action="http://formspree.io/francoisbotes@hotmail.com" method="POST" class="form contact">

        <div class="row">
          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <label for="email" class="sr-only">E-Mail-</label>
              <input type="email" class="form-control" name="_replyto" placeholder="E-Mail-">
            </div> <!-- end .form-group -->

            <div class="form-group">
              <input type="text" name="_gotcha" style="display:none" />
            </div> <!-- end .form-group -->
            <div class="form-group">
              <input type="hidden" name="_next" value="{{site.baseurl}}/" />
            </div> <!-- end .form-group -->
            <div class="form-group">
              <label for="subject" class="sr-only">Gegenstand</label>
              <input type="text" class="form-control" name="_subject" placeholder="Gegenstand">
            </div> <!-- end .form-group -->
          </div> <!-- end .form> .row> .col-md-4 -->

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="message" class="sr-only">Nachricht</label>
              <textarea name="message" rows="5" placeholder="Nachricht"></textarea>
            </div> <!-- end .form-group -->
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="message" class="sr-only">Nachricht</label>
              <input type="text" name="_gotcha" style="display:none" />
            </div> <!-- end .form-group -->
          </div>
        </div> <!-- end .form> .row -->

        <button class="btn btn-default contact-submit custom-btn" type="submit"><i class="fa fa-hand-o-right"></i>ABSENDEN</button>
      </form> <!-- end .form -->
      {% else %}
      <h1>Contact Us</h1>
      <h1>By E-Mail: <a herf="mailto:francoisbotes@hotmail.com?subject=Website Enquiry">francoisbotes@hotmail.com</a> or use the contact form</h1>
      <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
      {{ content }}
      <form action="http://formspree.io/francoisbotes@hotmail.com" method="POST" class="form contact">

        <div class="row">
          <div class="col-xs-12 col-md-6">

            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" name="_replyto" placeholder="Email">
            </div> <!-- end .form-group -->

            <div class="form-group">
              <input type="text" name="_gotcha" style="display:none" />
            </div> <!-- end .form-group -->
            <div class="form-group">
              <input type="hidden" name="_next" value="{{site.baseurl}}/" />
            </div> <!-- end .form-group -->
            <div class="form-group">
              <label for="subject" class="sr-only">Subject</label>
              <input type="text" class="form-control" name="_subject" placeholder="Subject">
            </div> <!-- end .form-group -->
          </div> <!-- end .form> .row> .col-md-4 -->

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="message" class="sr-only">Message</label>
              <textarea name="message" rows="5" placeholder="Message"></textarea>
            </div> <!-- end .form-group -->
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="message" class="sr-only">Message</label>
              <input type="text" name="_gotcha" style="display:none" />
            </div> <!-- end .form-group -->
          </div>
        </div> <!-- end .form> .row -->

        <button class="btn btn-default contact-submit custom-btn" type="submit"><i class="fa fa-hand-o-right"></i>SUBMIT</button>
      </form> <!-- end .form -->
      {% endif %}
    </div> <!-- end .container -->
  </div> <!-- end .footer -->
</footer>
<!-- ====== End Contact Section ====== -->
