<!-- ====== Contact Section ====== -->
<footer id="contact">
  <div class="footer section-padding">
    <div class="container">
      {% if page.lang == 'de' %}
      {{ content }}
      <h1>Kontaktieren Sie Uns</h1>
      <h2>Per E-Mail: <a href="mailto:francoisbotes@hotmail.com?subject=WebSite Enquiry">Hier klicken, um E-Mail senden</a> </h2>
      <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
      
      <div id='ibb-widget-root-998073295'></div><script>(function(t,e,i,d){var o=t.getElementById(i),n=t.createElement(e);o.style.height=250;o.style.width=300;o.style.display='inline-block';n.id='ibb-widget',n.setAttribute('src',('https:'===t.location.protocol?'https://':'http://')+d),n.setAttribute('width','300'),n.setAttribute('height','250'),n.setAttribute('frameborder','0'),n.setAttribute('scrolling','no'),o.appendChild(n)})(document,'iframe','ibb-widget-root-998073295',"banners.itunes.apple.com/banner.html?partnerId=&aId=&bt=catalog&t=catalog_white&id=998073295&c=us&l=en-US&w=300&h=250");</script>
      {% else %}
      {{ content }}
      <h1>Contact Us</h1>
      <h2>By E-Mail: <a href="mailto:francoisbotes@hotmail.com?subject=WebSite Enquiry">Click here to Send Email</a></h2>
      <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
      {{ content }}
      <div id='ibb-widget-root-998073295'></div><script>(function(t,e,i,d){var o=t.getElementById(i),n=t.createElement(e);o.style.height=250;o.style.width=300;o.style.display='inline-block';n.id='ibb-widget',n.setAttribute('src',('https:'===t.location.protocol?'https://':'http://')+d),n.setAttribute('width','300'),n.setAttribute('height','250'),n.setAttribute('frameborder','0'),n.setAttribute('scrolling','no'),o.appendChild(n)})(document,'iframe','ibb-widget-root-998073295',"banners.itunes.apple.com/banner.html?partnerId=&aId=&bt=catalog&t=catalog_white&id=998073295&c=us&l=en-US&w=300&h=250");</script>
      {% endif %}
    </div> <!-- end .container -->
  </div> <!-- end .footer -->
</footer>
<!-- ====== End Contact Section ====== -->
