<!-- ====== Contact Section ====== -->
<footer id="contact">
  <div class="footer section-padding">
    <div class="container">
      {% if page.lang == 'de' %}
      <h1>Kontaktieren Sie Uns</h1>
      <h2>Per E-Mail: <a href="mailto:francoisbotes@hotmail.com?subject=WebSite Enquiry">Hier klicken, um E-Mail senden</a> oder verwenden Sie das Kontaktformular</h2>
      <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
      {{ content }}
      <a href="https://geo.itunes.apple.com/gb/album/25-years-of-prophetic-songs/id998073295?uo=6" target="itunes_store">25 Years of Prophetic Songs - Francois Botes</a>
      {% else %}
      <h1>Contact Us</h1>
      <h2>By E-Mail: <a href="mailto:francoisbotes@hotmail.com?subject=WebSite Enquiry">Click here to Send Email</a> or use the contact form below</h2>
      <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
      {{ content }}
      <a href="https://geo.itunes.apple.com/gb/album/25-years-of-prophetic-songs/id998073295?uo=6" target="itunes_store">25 Years of Prophetic Songs - Francois Botes</a>
      {% endif %}
    </div> <!-- end .container -->
  </div> <!-- end .footer -->
</footer>
<!-- ====== End Contact Section ====== -->
