<!-- ====== Copyright Section ====== -->
<section class="copyright dark-bg">
  <div class="container">
    {% if page.lang == 'de' %}
    <p>&copy; 2015 <a href="#">Francois Botes</a>, Alle Rechte Vorbehalten</p>
    {% else %}
    <p>&copy; 2015 <a href="#">Francois Botes</a>, All Rights Reserved</p>
    {% endif %}
    <p class="website">Website by <a href="http://micren.co.uk">Micren Services</a></p>
  </div> <!-- end .container -->
</section>
<!-- ====== End Copyright Section ====== -->
