<header id="top">
  <div class="bg-color">
    <div class="top section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-7">
            <div class="content">
              {% if page.lang == "de" %}
              <h1><strong>Francois Botes</strong></h1>
              <h2>Prophetische Music Ministry</h2>
              <p>Mit Sitz in Großbritannien und Minister weltweit in lokalen Kirchen und betreut eine Reihe von prophetischen Bildungsseminare / Schulen.</p>
              <p></p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
              <div class="button" id="download-app1">
                <a href="#meetings" class="btn btn-default btn-lg custom-btn"><i class="fa fa-calendar"></i>Meeting Schedule</a>
              </div> <!-- end .button -->
              {% else %}
              <h1><strong>Francois Botes</strong></h1>
              <h2>Prophetic Music Ministry</h2>
              <p>Based in the United Kingdom and ministers worldwide in local churches and oversees a number of Prophetic training seminars / schools.</p>
              <p><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.50005fe33691ad15041f7199457ac3e0.en.html#_=1432104874092&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=BotesFrancois&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 225px; height: 20px;"></iframe></p>
              <div class="button" id="download-app1">
                <a href="#meetings" class="btn btn-default btn-lg custom-btn"><i class="fa fa-calendar"></i>Meeting Schedule</a>
              </div> <!-- end .button -->
              {% endif %}
              </div> <!-- end .content -->
          </div> <!-- end .top > .container> .row> .col-md-7 -->
        </div> <!-- end .top> .container> .row -->
      </div> <!-- end .top> .container -->
    </div> <!-- end .top -->
</div> <!-- end .bg-color -->
</header>
<!-- ====== End Header Section ====== -->
