<!-- ====== Header Section ====== -->
<sub-header id="top">
  <div class="bg-color">
    <div class="top section-padding">
      <div class="container">
        <div class="row">

          <div class="col-sm-7 col-md-7">
            <div class="content">
              <h1><strong>Francois Botes</strong></h1>
              <h2>Prophetic Music Ministry</h2>
              <p>Based in the United Kingdom and ministers worldwide in local churches and oversees a number of Prophetic training seminars / schools.</p>
              <div class="button" id="download-app1">
                <a href="{{site.baseurl}}/meetings" class="btn btn-default btn-lg custom-btn"><i class="fa fa-calendar"></i>Meeting Schedule</a>
              </div> <!-- end .button -->
            </div> <!-- end .content -->
          </div> <!-- end .top > .container> .row> .col-md-7 -->
        </div> <!-- end .top> .container> .row -->
      </div> <!-- end .top> .container -->
    </div> <!-- end .top -->
  </div> <!-- end .bg-color -->
</sub-header>
<!-- ====== End Header Section ====== -->
