---

---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body>
    <!-- ====== Menu Section ====== -->
    {% include top-nav.html %}
    <!-- ====== End Menu Section ====== -->
    <section id="meetings">
      <div class="meetings">
        <div class="container">
          <div class="row">
            <div class="col-md-4 meeting-list">
              <div class="meta-text">
                <h1>{{page.title}}</h1>
                <h4>Date: {{page.meeting-date}}</h4>
                <h4>City: {{page.city}}</h4>
                <h4>Venue: {{page.venue}}</h4>
                <p><a href="http://{{page.website}}">{{page.website}}</a></p>
                <p>{{content}}</p>
              </div> <!-- end .meeting-list -->
            </div> <!-- end .container> .row -->
          </div>
          <div class="meetings">
          {% include home/meetings.html %}
          </div>
        </div> <!-- end .container -->
      </div> <!-- end .meetings -->
    </section>
    <!-- ====== End meetings Section ====== -->

    <!-- ====== Footer Section ====== -->
    {% include footer.html %}
    <!-- ====== End footer Section ====== -->

    {% include script.html %}
  </body>
</html>
