<!-- ====== Donation Section ====== -->
<section id="description">
  <div class="description">
    <div class="description-one section-padding white-bg">
      <div class="container">
          {% if page.lang == "de" %}
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="content">
              <h1>Unterstützung</h1>
              <h2>Partner mit ME bei der Unterstützung dieser prophetischen Ministerium in Musik:</h2>

              <h3>Kontoinformation</h3>
              <ul>
                <li>South African account: ABSA </li>
                <li>Savings Account Number: <span>380 949 735 94</span></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="content">
              <h3>Oder Sie können über Spenden PAYPAL</h3>
                  <a class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6115263" onclick="ga('send', 'event', 'link', 'click', 'Send Cash');" class="btn">
                    <i class="fa fa-cc-paypal pull-left"></i>GB £</a>
                  <a class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6116879" onclick="ga('send', 'event', 'link', 'click', 'Send Cash');" class="btn">
                    <i class="fa fa-cc-paypal pull-left "></i>US $</a>
                  <a class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6117269" onclick="ga('send', 'event', 'link', 'click', 'Send Cash');" class="btn">
                    <i class="fa fa-cc-paypal pull-left"></i>Euro €</a></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="content">
              <h1>Support</h1>
              <h2>Partner with ME in supporting this Prophetic Ministry in Music:</h2>

              <h3>Account information</h3>
              <ul>
                <li>South African account: ABSA </li>
                <li>Savings Account Number: <span>380 949 735 94</span></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <div class="content">
              <h3>Or you may Donate via PAYPAL</h3>
                  <a class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6115263" onclick="ga('send', 'event', 'link', 'click', 'Send Cash');" class="btn">
                    <i class="fa fa-cc-paypal pull-left"></i>GB £</a>
                  <a class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6116879" onclick="ga('send', 'event', 'link', 'click', 'Send Cash');" class="btn">
                    <i class="fa fa-cc-paypal pull-left "></i>US $</a>
                  <a class="btn btn-lg btn-success" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6117269" onclick="ga('send', 'event', 'link', 'click', 'Send Cash');" class="btn">
                    <i class="fa fa-cc-paypal pull-left"></i>Euro €</a></i></a>
            </div>
          </div>
        </div>        
        {% endif %}
      </div>
    </div>
  </div>
</div>
</section>


<!-- ====== End Donation Section ====== -->
