<div class="col-sm-5 col-md-5">
  <div class="photo-slide">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1" class=""></li>
        <li data-target="#carousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <img src="assets/images/fbm-1.png" alt="">
        </div>
        <div class="item active left">
          <img src="assets/images/fbm-2.png" alt="">
        </div>
        <div class="item next left">
          <img src="assets/images/fbm-3.png" alt="">
        </div>
      </div> <!-- end .carousel-inner -->
    </div> <!-- end #carousel -->
  </div> <!-- end .photo-slide -->
</div> <!-- end .top > .container> .row> .col-md-5 -->
